<ng-container *ngIf="!isLogged">
  <div class="ui message" style="margin: 90px 50px 0 50px">
    <div class="header">
      Пожалуйста, пройдите авторизацию
    </div>
  </div>
</ng-container>
<ng-container *ngIf="isLogged">
  <h1 class="ui header" style="margin: 100px 50px 0 50px ">
     Мои задачи
    <ng-container *ngIf="showAllRow">
      <a class="ui right floated small button" href="/tasks/new" style="background-color: rgb(0,182,207); color: white" id="new-task-button">Новая задача</a>
    </ng-container>
  </h1>
  <ng-container *ngFor="let task of mytasks">
    <div class="ui segment task" style="margin: 10px 50px 0 50px">
      <div class="ui label" style="margin-left: 5px"><a routerLink="/tasks/{{task.id}}">Задача {{task.id}} </a> </div>
      <span class="ui top right attached label">{{task.status.status_name}}</span>
      <div>
        <div style="margin-top: 10px; margin-left: 5px"><strong>{{task.title}}</strong></div>
        <div style=" margin-left: 5px">{{task.description}}</div>
      </div>
      <div class="ui horizontal mini list" style="opacity: 0.4; margin-left: 8px">
        <div class="item">Cоздана: {{task.created_at}}</div>
        <div class="item">Адерс: {{task.address}}</div>
        <div class="item">Создатель №{{task.created_by.user}}</div>
      </div>
    </div>
  </ng-container>
</ng-container>
